@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../fonts/fuente1/mi-fuente.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiFuentePersonalizada2';
    src: url('../fonts/fuente2/mi-fuente2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h2 {
            font-family: 'MiFuentePersonalizada';
            font-size: 30px;
            text-align: center;
            color: rgb(167, 80, 96);
            margin: 40px auto;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 800px;
            border: 1px solid green;
            margin: 50px 0;
            padding: 20px;
            box-sizing: border-box;

            div {
                width: 100%;
                margin-bottom: 15px;

                p, label {
                    font-family: 'MiFuentePersonalizada';
                    font-size: 20px;
                }

                input, .form-check-input, .form-control {
                    width: 100%;
                }

                .dropdown {
                    width: 100%;
                }
            }

            .btn {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        main {
            form {
                padding: 10px;

                div {
                    p, label {
                        font-size: 18px;
                    }

                    input, .form-check-input, .form-control {
                        font-size: 16px;
                    }
                }

                .btn {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    body {
        main {
            h2 {
                font-size: 24px;
            }

            form {
                padding: 5px;

                div {
                    p, label {
                        font-size: 16px;
                    }

                    input, .form-check-input, .form-control {
                        font-size: 14px;
                    }
                }

                .btn {
                    font-size: 14px;
                }
            }
        }
    }
}